<div class="ghrm-block ghrm-stl">
  <canvas class="ghrm-stl-canvas"></canvas>
  <div class="ghrm-stl-controls" role="toolbar" aria-label="STL display mode">
    <button class="ghrm-stl-button is-active" type="button" data-mode="solid">Solid</button>
    <button class="ghrm-stl-button" type="button" data-mode="surface-angle">Surface Angle</button>
    <button class="ghrm-stl-button" type="button" data-mode="wireframe">Wireframe</button>
  </div>
  <template class="ghrm-data">{{ .Inner | htmlEscape | safeHTML }}</template>
</div>
{{ .Page.Store.Set "hasStl" true }}
